---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Supakorn">
  <div class="flex flex-col px-8">
    <div class="justify-start sm:justify-center sm:flex">
      <div class="text-white font-normal text-4xl mt-2">Hello world !👋</div>
      <div class="text-white font-normal text-4xl mt-2">I'm Supakorn I.</div>
    </div>
    <div class="flex justify-start sm:justify-center text-white text-xl mt-3">
      Just a indie developer 💻 Studying at IT, Kmutt.
    </div>
    <div class="flex justify-start sm:justify-center text-white text-lg mt-5">
      <a href="https://github.com/supakornn"><span class="underline">Github</span></a>
    </div>
  </div>
</Layout>
