---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Supakorn">
  <div class="flex flex-col sm:px-8 px-12">
    <div class="justify-start sm:justify-center sm:flex">
      <div class="text-black dark:text-white font-bold text-5xl mt-2">Hi there !👋</div>
      <div class="text-black dark:text-white font-bold text-5xl mt-2">I'm Gap</div>
    </div>
    <div class="sm:justify-center text-black dark:text-white mt-3 font-semibold">
      <p class="flex justify-center text-xl">
        Full-St<span class="dark:text-red-400 text-red-500">(B)</span>ack<span
          class="dark:text-red-400 text-red-500">(end)</span
        >-Developer
      </p>
      <p class="flex justify-center text-xl">Studying at IT, Kmutt.</p>
    </div>
    <div
      class="flex justify-start sm:justify-center text-black dark:text-white text-lg mt-3 font-semibold"
    >
      <p class="mr-2 dark:text-red-400 text-red-500">Find me on :</p>
      <a class="mr-2" href="https://github.com/supakornn"><span class="underline">Github,</span></a>
      <a href="https://www.instagram.com/supakornigm"><span class="underline">Instagram</span></a>
    </div>
  </div>
</Layout>
